<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="iCafeLIB.Properties.Settings.iCafeConnectionString"
         connectionString="Data Source=192.168.1.200;Initial Catalog=iCafe;Persist Security Info=True;User ID=hoangnd;Password=nothing"
         providerName="System.Datah.SqlClient" />
  </connectionStrings>
</configuration>