<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="iCAFE_PROJECTS.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="SERVER" value=".\SQLEXPRESS" />
    <add key="DATABASE" value="iCafe" />
    <add key="USERNAME" value="hoangnd" />
    <add key="PASSWORD" value="nothing" />
    <add key="font" value="Tahoma" />
    <add key="fontsize" value="8" />
  </appSettings>
  <userSettings>
    <iCAFE_PROJECTS.Properties.Settings>
      <setting name="asda" serializeAs="String">
        <value>16, 16</value>
      </setting>
    </iCAFE_PROJECTS.Properties.Settings>
  </userSettings>
</configuration>